@(article: Article)

@layouts.oneColumn(Some("Blog")) {
    <h1>Article editor</h1>

    @fragments.form(article, routes.Application.doEdit(article.id.get))

    <a href="@routes.Application.showList">Back to list</a>
}