@(articles: Iterable[Article])

@leftColumn = {
    <h1>Articles list</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Text</th>
        </tr>
        @for(article <- articles) {
            <tr>
                <td>@article.title</td>
                <td>@article.text</td>
                <td><a href="@routes.Application.showDetails(article.id.get)">Show</a></td>
                <td><a href="@routes.Application.initEdit(article.id.get)">Edit</a></td>
            </tr>
        }
    </table>
}

@rightColumn = {
    <h3>Additional actions</h3>
    <a href="@routes.Application.initCreate">New article</a>
}

@layouts.twoColumns(Some("Blog"))(leftColumn, rightColumn)