@(title: Option[String])(leftColumn: Html, rightColumn: Html)

@template.main(title) {
    <div id="page-container">
        <div class="grid-row">
            <div class="column-two-thirds">

            @leftColumn

            </div>
            <div class="column-one-third">

            @rightColumn

            </div>
        </div>
    </div>
    <br />
}