@import 'vendor/toolkit/_grid_layout.scss';

#page-container {
  @extend %site-width-container;
}

.grid-row {
  @extend %grid-row;

  .column-one-third {
    @include grid-column(1/3);
  }
  .column-two-thirds {
    @include grid-column(2/3);
  }
}